* {
  padding: 0;
  margin: 0;
}

.logo-pic {
  background: url(/images/logo.jpg) center center/contain no-repeat;
  padding: 25px;
  margin-right: 35px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 110px;
  margin: 0 30px;
  border-bottom: 1px solid gray;
}

.header a {
  margin: 30px 15px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #303030;
}

.header a:hover {
  border-bottom: 2px solid black;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation a:first-child {
  margin-right: 35px;
}

.login::before {
  position: absolute;
  content: "";
  background: url(/images/account.png) center center/contain no-repeat;
  padding: 15px;
  left: -15px;
  top: 0;
  bottom: 0;
}

.bascet::before {
  position: absolute;
  content: "";
  background: url(/images/bascet.png) center center/contain no-repeat;
  padding: 15px;
  left: -15px;
  top: 0;
  bottom: 0;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-login {
  position: relative;
  margin-right: 50px;
}

.client-bascet {
  position: relative;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 300px 30px 0 30px;
}

.footer a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Myriad Pro";
  color: #303030;
}

.footer-info {
  line-height: 25px;
}

.footer-info h4 {
  margin-bottom: 15px;
}

.separ {
  background-color: #303030;
  width: 1px;
  opacity: 0.2;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social img {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 10px;
  margin-top: 20px;
}

.top {
  margin-top: 150px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Myriad Pro";
}

.top h1 {
  font-size: 72px;
  color: #303030;
  font-weight: 300;
}

.top h4 {
  font-family: "Georgia Italic";
  font-size: 24px;
  color: #606060;
  font-style: italic;
}

.new-btn {
  margin-top: 50px;
  border: 1px solid #303030;
  width: 220px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
}

.new-btn a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Myriad Pro";
  color: #303030;
  padding: 23px 35px;
}

.bottom {
  margin-top: 60px;
  margin-bottom: 300px;
  text-align: center;
  font-family: "Myriad Pro";
}

.bottom h2 {
  font-size: 40px;
  color: #303030;
  font-weight: 300;
}

.bottom h4 {
  font-family: "Georgia Italic";
  font-size: 24px;
  color: #606060;
  font-style: italic;
}

.submit-btn {
  background-color: orange;
  color: white;
  height: 57px;
  width: 135px;
  margin-left: -5px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.email-input {
  height: 55px;
  width: 475px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  font-size: 20px;
}

.container-fluid {
  margin: 0 30px !important;
}

.attention {
  background: url(/images/main/attention-sign-outline.png) center center/contain no-repeat;
  padding: 15px;
}

.attention:before {
  content: "";
  position: absolute;
  border: 1px solid white;
  width: 25px;
  left: 150px;
}

.attention:after {
  content: "";
  position: absolute;
  border: 1px solid white;
  width: 25px;
  right: 150px;
}

.first {
  background: url(/images/main/1.jpg) center center/cover no-repeat;
  height: 800px;
}

.second {
  background-color: #bbbbbb;
  height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second p {
  margin-top: 25px;
  font-size: 14px;
  font-family: "Georgia Italic";
  color: white;
  padding: 0 35px;
}

.second-sm {
  display: none;
}

.third {
  background: url(/images/main/3.jpg) center center/cover no-repeat;
  height: 400px;
}

.third-sm {
  display: none;
}

.fourth {
  background-color: #606060;
  height: 400px;
}

.fifth {
  background: url(/images/main/2.jpg) center center/cover no-repeat;
  height: 400px;
}

.sixth {
  background-color: #bbbbbb;
  height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sixth p {
  margin-top: 25px;
  font-size: 14px;
  font-family: "Georgia Italic";
  color: white;
  padding: 0 35px;
}

.sixth-sm {
  display: none;
}

.seventh {
  background: url(/images/main/4.jpg) center center/cover no-repeat;
  height: 800px;
  margin-top: -400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seventh p {
  margin-top: 25px;
  font-size: 14px;
  font-family: "Georgia Italic";
  color: white;
  padding: 0 35px;
}

.eighth {
  background: url(/images/main/5.jpg) center center/cover no-repeat;
  height: 400px;
}

.eighth-sm {
  display: none;
}

.ninth {
  background-color: #606060;
  height: 400px;
}

.tenth {
  background: url(/images/main/6.jpg) center center/cover no-repeat;
  height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tenth p {
  margin-top: 25px;
  font-size: 14px;
  font-family: "Georgia Italic";
  color: white;
  padding: 0 35px;
}

@media (max-width: 990px) {
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    text-align: center;
  }
  .first p {
    margin-top: 25px;
    font-size: 14px;
    font-family: "Georgia Italic";
    color: white;
    padding: 0 35px;
  }
  .second {
    display: none;
  }
  .second-sm {
    display: inline;
    background-color: #bbbbbb;
    text-align: center;
  }
  .second-sm p {
    margin-top: 25px;
    font-size: 14px;
    font-family: "Georgia Italic";
    color: white;
    padding: 0 35px;
  }
  .third {
    display: none;
  }
  .third-sm {
    background: url(/images/main/3.jpg) center center/cover no-repeat;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .third-sm p {
    margin-top: 25px;
    font-size: 14px;
    font-family: "Georgia Italic";
    color: white;
    padding: 0 35px;
  }
  .fourth {
    display: none;
  }
  .fifth {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fifth p {
    margin-top: 25px;
    font-size: 14px;
    font-family: "Georgia Italic";
    color: white;
    padding: 0 35px;
  }
  .sixth {
    display: none;
  }
  .sixth-sm {
    display: inline;
    background-color: #bbbbbb;
    text-align: center;
  }
  .sixth-sm p {
    margin-top: 25px;
    font-size: 14px;
    font-family: "Georgia Italic";
    color: white;
    padding: 0 35px;
  }
  .eighth {
    display: none;
  }
  .eighth-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(/images/main/5.jpg) center center/cover no-repeat;
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .eighth-sm p {
    margin-top: 25px;
    font-size: 14px;
    font-family: "Georgia Italic";
    color: white;
    padding: 0 35px;
  }
  .seventh {
    height: 400px;
    margin-top: initial;
  }
  .eighth {
    display: none;
  }
  .ninth {
    display: none;
  }
}

@media (max-width: 770px) {
  .second-sm {
    display: none;
  }
  .sixth-sm {
    display: none;
  }
}

.head {
  margin-top: 60px;
  text-align: center;
  font-family: "Myriad Pro";
}

.head h2 {
  font-size: 40px;
  color: #303030;
  font-weight: 300;
}

.head h4 {
  font-family: "Georgia Italic";
  font-size: 24px;
  color: #606060;
  font-style: italic;
}

.sum {
  text-align: right;
  padding-right: 300px;
}

.delivery {
  text-align: center;
  font-family: "Myriad Pro";
}

.delivery h2 {
  font-size: 40px;
  color: #303030;
  font-weight: 300;
}

.delivery h4 {
  font-family: "Georgia Italic";
  font-size: 24px;
  color: #606060;
  font-style: italic;
}

.order-form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.order-form-top .input-box {
  margin-bottom: 50px;
  width: 45%;
  position: relative;
}

.order-form-top .input-box .user-input {
  width: 100%;
}

.order-form-top .input-box .label-text {
  position: absolute;
  top: -30px;
}

.order-form-top .user-input-max {
  width: 100%;
  line-height: 3;
}

.order-form-top select {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  margin-bottom: 50px;
  height: 40px;
}

.order-form-top .input-box.max {
  width: 95%;
  margin-bottom: 50px;
  line-height: 3;
}

.order-form-bottom {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
}

.order-form-bottom select {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  margin-bottom: 50px;
  height: 40px;
}

.filter {
  text-align: center;
}

.list {
  text-align: center;
}

.list img {
  width: 100%;
  height: 300px;
}

.list h6 {
  font-weight: bold;
  font-size: 16px;
}

.list p {
  font-size: 16px;
  color: #606060;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}

.link p a {
  text-decoration: none;
}

.size label {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.size input {
  position: absolute;
}

.descr {
  text-align: center;
  line-height: 3;
}

.photo {
  margin-top: 100px;
  text-align: center;
}

.in-basket-btn {
  background-color: orange;
  color: white;
  height: 57px;
  width: 275px;
  margin-left: -5px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

@font-face {
  font-family: 'Georgia Italic';
  src: url("Georgia-Italic.eot");
  src: url("Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("Georgia-Italic.woff") format("woff"), url("Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */